<section id="about">
  <div class="container ">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center wow bounceIn" data-wow-delay=".1s">
        <h2 class="section-heading">About Us</h2>
        <p>We modify the stock factory Harley gauges on 2004 on up models. For the 2004-2013 touring bikes, both your speedometer and tachometer need to be sent in. For the 2014 on up touring bikes, all 4 gauges need to be sent in. For bikes pre-2004, please contact me for more information.</p>
        <hr class="primary">
      </div>
    </div>
  </div>
</section>
