<section id="about">
  <div class="container ">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center wow bounceIn" data-wow-delay=".1s">
        <h2 class="section-heading">About Us</h2>
        <p>We modify the stock factory Harley gauges on 2000 on up models. For the 2000-2013 touring bikes, both your speedometer and tachometer need to be sent in. The smaller gauges do not need to be sent in as they take a 194 wedge bulb. For the 2014 - 2021 touring bikes, all 4 gauges need to be sent in as they all require professional modification. Please do not hesitate to contact us for more information. Check out many more examples on our Facebook page.</p>
      </div>
    </div>
  </div>
</section>
