<header>
  <section id="about">
    <div class="header-content">
      <div class="header-content-inner">
        <h1>Harley Gauge Mods</h1>
        <hr>
        <p>Modding your Harley Davidson gauges<br/>From boring amber into something much more modern looking and easier to read<br/>Please see more examples on our <a href="https://www.facebook.com/harleygaugemods" target="_blank">Facebook page</a></p>
        <p>We modify your stock factory Harley gauges. For2013 and older touring bikes, only your speedometer and tachometer need to be sent in. For the 2014 on up touring bikes, all 4 gauges need to be sent in. For bikes pre-2004, please contact me for more information. Any questions at all, please do not hesistate to contact us</p>
        <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact Us</a>
      </div>
    </div>
  </section>
</header>
