<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Harley Gauge Mods</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, quem aliquip apeirian cu mei, has no labore doctus, modus iuvaret legendos mei ne. Eu sit noluisse fabellas, pri no dolor corpora euripidis. Dico justo dicunt cu vix. Illud dicam eu pro.</p>
            <p>Summo tation et cum, pro dolore pertinacia temporibus no. Magna partiendo ea vim, in soleat blandit persecuti vel. Ullum consul ancillae eu sed, nec id corpora gubergren, nec idque deseruisse liberavisse ex. Eos graece alterum utroque ei, at eum docendi expetenda reprehendunt.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact Us</a>
        </div>
    </div>
</header>
