<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center wow bounceIn" data-wow-delay=".1s">
        <h2 class="section-heading">Pricing</h2>
        <br/>
        <h4>Single gauge Dyna, Softail, Roadking and Sportster: <strong>$69.99</strong></h4>
        <h4>Dual gauge touring speedo and tach: <strong>$99.99</strong></h4>
        <h4>2014-2016 Rushmore 4 gauge touring sets: <strong>$149.99</strong></h4>
        <br/>
        <p>USPS Priority Mail return shipping included. USA only. Contact us for international rates.</p>
        <br/>
        <p>Like our Facebook page and contact us through there for a special Facebook discount!</p>
        <a href="https://www.facebook.com/harleygaugemods"><span class="fb-pricing"><i class="fa fa-facebook-square fa-4x"></i></span></a>
      </div>
    </div>
  </div>
</section>
