<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="/">Harley Gauge Mods</a>
        </div>
      </div>
    </nav>
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1>Thank You!</h1>
          <hr>
          <h2>We will be contacting you shortly!</h2>
          <br/>
          <br/>
          <a href="/" class="btn btn-primary btn-xl page-scroll">Home</a>
        </div>
      </div>
    </header>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
